.favorites-main__toolbar {
    display: flex;
    align-items: center;    
    margin-top: 1em;
    height: 100%;
}

.favorites-toolbar__search {
    margin-left: auto;
    border: 2px solid black;
    border-radius: 3px;
    height: 100%;
    padding-right: 0.5em;
    max-width: 350px;
}

.favorites-toolbar__search input{
    outline: 0;
    margin-right: 0.2em;
    border: 0;
    width: 220px;
    padding-left: 0.2em;
}

@media (max-width: 660px){
    .favorites-main__toolbar {
        flex-direction: column;
    }
    .favorites-toolbar__search{
        margin-left: initial;
    }
}