<div class="favorites-main">
    <div class="favorites-main__toolbar">
        <div class="favorites-toolbar__title">
            <h4>Favorite Site</h4>
        </div>
        <div class="favorites-toolbar__search">
            <input type="text" placeholder="Filter by website name or URL">            
            <fa-icon [icon]="faSearchIcon"></fa-icon>
        </div>
        <div class="favorites-toolbar__actions">
            <button type="button" class="btn btn-outline-dark btn-sm m-1" routerLink="./grid" >Grid</button>
            <button type="button" class="btn btn-outline-dark btn-sm m-1" routerLink="./tiles"  >Tiles</button>
            <button type="button" class="btn btn-outline-dark btn-sm m-1">Add</button>      
        </div>
    </div>
    <div class="favorites-main-content">
        <!-- <router-outlet></router-outlet> -->
    </div>

    <app-add-dialog></app-add-dialog>

</div>