<div class="favorites-main">
    <div class="favorites-main__toolbar">
        <div class="favorites-toolbar__title">Favorite Site</div>
        <div class="cavorites-toolbar__search">
            <input type="text" placeholder="Filter by website name or URL">            
        </div>
        <div class="favorites-toolbar__actions">
            <button class="btn">Grid</button>
            <button class="btn">Tiles</button>
            <button class="btn">Add</button>
            
        </div>
    </div>

</div>