<div>
    <div class="auditing-main__toolbar">
        <div class="auditing-toolbar__title">
            <h4>Actions log</h4>
        </div>
    </div>
    <div class="auditing-main-content">    
        <table class="table table-hover">
            <thead>
                <th cope="col">Data/Time</th>
                <th cope="col">Action</th>
                <th cope="col">Wbsite name</th>
                <th cope="col">URL</th>
            </thead>
                <tr *ngFor="let audit of (auditing$ | async)">
                    <td>{{audit.id}}</td>
                    <td>{{audit.action}}</td>
                    <td>{{audit.name}}</td>
                    <td>{{audit.url}}</td>
                </tr>

            <tbody>
            </tbody>
        </table>        
    </div>
</div>