.auditing-main__toolbar {
    display: flex;
    align-items: center;    
    margin-top: 1em;
    height: 100%;
}

@media (max-width: 660px){
    .auditing-main__toolbar {
        flex-direction: column;
    }
}