
<table class="table table-hover">
    <thead>
        <th cope="col">Website Name</th>
        <th cope="col">Url</th>
        <th cope="col">Action</th>
    </thead>
    <tbody>
        <tr *ngFor="let favorite of (favorites$|async) | filterByKeys:(filter$ |async):['url','name']; trackBy: trackByFn" (click)="onDetail($event, favorite)">           
            <td >{{favorite.name}}</td>
            <td >{{favorite.url}}</td>
            <td>  
                <div class="float-toolbar">
                    <fa-icon class="float-toolbar__action" [icon]="faEdit" (click)="onEdit(favorite)"></fa-icon>
                    <fa-icon class="float-toolbar__action" [icon]="faTrash" (click)="onDelete(favorite)"></fa-icon>
                </div>
            </td>
        </tr>
    </tbody>
</table>

