
.main{
    height: 100%;
}


.main-nav {
  background-color: rgba(128, 128, 128, 0.527);   
}

.nav {
    flex-direction: column;
}

@media (max-width: 660px)
{
    .main {
        flex-direction: column;
    }
    .nav {
        flex-direction: row;
    }
}



.main-content {    
    flex-grow: 1;
    margin: 0 1em;
}

.nav-item.active {
    background-color: rgba(0, 0, 0, 0.411);
}
.nav-item:hover {
    background-color: rgba(0, 0, 0, 0.575);
}

.nav-link{
    color:white;
}