
.main{
    height: 100%;
}

.main-nav {
  background-color: rgba(128, 128, 128, 0.527);   
}

.main-content {    
    flex-grow: 1;
    margin: 0 1em;
}

.nav-item:hover {
    background-color: rgba(0, 0, 0, 0.445);
}

.nav-link{
    color:white;
}