<div class="me-dialog font-weight-bold">
    <div class="me-dialog-header">
        Add a new website
    </div>
    <div class="me-dialog-content">
        <label for="websitename">Website name</label>
        <input type="text" id="websitename">
        <label for="url">URL</label>
        <input type="text" id="url">
    </div>
    <div class="me-dialog-footer">
        <button class="btn btn-outline-dark font-weight-bold">Add website</button>
        <button class="btn btn-outline-dark font-weight-bold">Cancel</button>
    </div>

</div>
